* {
  font-family: Verdana;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: 300;
  font-size: 42;
  color: white;
}

h2 {
  color: grey;
  font-size: 21px;
}

#intro {
  font-weight: Normal;
  font-size: 50px;
}

a {
  color: Aquamarine;
  font-size: 16px;
  font-weight: normal;
}

#copyright {
  text-align: right;
}
